.avia-button,
.avia-button.avia-color-theme-color,
input[type='submit'],
button
{
    border: 1px solid @color-primary;
    background-color: transparent;
    color: @color-primary;
    border-radius: @radius;
    font-family: @font-family;
    font-size: 15px;
    padding: 5px 20px;
    line-height: 1.65em;
    transition: all 0.4s ease-out;

    &:hover
    {
	background-color: @color-primary;
	color: #fff;
	
	.avia_iconbox_title
	{
	    color: #fff;
	}
    }

    span.avia_iconbox_title
    {
	font-family: @font-family;
	font-weight: bold;
	text-transform: uppercase;
    }

    &.avia-size-medium
    {
	font-weight: bold;
	border-width: 2px;
	font-size: 17px;
	padding-top: 10px;
	padding-bottom: 10px;
    }

    &.avia-size-large
    {
	span
	{
	    font-size: 21px;
	    border-width: 2px;
	}
    }
}

.avia-button-wrap.invert .avia-button
{
    border: 1px solid @color-light;
    color: @color-light;
    background-color: transparent;

    &:hover
          {
              background-color: @color-light;
          }//hover
}//invert

#searchsubmit
{
    border-radius: 0;
    margin: 0;
    border: none;
    padding: 0;
    font-family: 'entypo-fontello';
}//searchsubmit

select
{
    -moz-appearance: none;
}